@using Airbnb.Core.Application.ViewModel.User;
@model UserSaveViewModel

@{
    ViewData["Title"] = "Nuevo Usuario";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>Creando Nuevo Usuario</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="User" asp-action="Register">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre y Apellido: </label>
                            <input asp-for="Name" class="form-control" placeholder="Eje: José Perez"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email: </label>
                            <input asp-for="Email" class="form-control" placeholder="usuario@gmailcom" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Numero de contacto: </label>
                            <input asp-for="Phone" class="form-control" placeholder="Eje: 000-000-0000" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label">Nombre de usuario: </label>
                            <input asp-for="UserName" class="form-control" placeholder="Eje: JDoe07" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña: </label>
                            <input asp-for="Password" type="password"  class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar Contraseña: </label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control"/>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver</a>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
